body{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
    background-color: #fff;
    color: #6D6E71;
    -webkit-font-smoothing: antialiased;
}

.right{
    font-weight: 600;
}

.grey{
    background-color: grey;
}

footer {
    background: #58595B;
    color: rgba(255,255,255,0.6);
}

footer .main-footer {
    padding: 40px 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

footer .credits {
    background: #444;
    color: #999;
    font-size: 13px;
    padding: 15px 0;
}

footer a {
    color: rgba(255,255,255,0.6);
}

footer a:hover {
    color: #DF0101;
    text-decoration: none;
}

footer .credits .poweredby {
    text-align: right;
}
.navbar{
    margin-bottom: 0px !important;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
        border: 0px;
        margin-bottom: 0px;
    }
}

.telefone{
    font-size: 40px;
    margin-right: 10px;
    color: black;
}

.logo{
    width: 300px;
    padding:0px;
}

.select2 {
    width: 100% !important;
}
/*****PÁGINA INICAIL******/


section{
    opacity: 1;
}
#paginainicial {
    background-image: url("../img/1152.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10px;
}
.menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

  .menu * {
    box-sizing: border-box;
  }
  .menu li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
  }
  .menu a {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    letter-spacing: 1px;
    text-decoration: none !important;
    background-color: transparent !important;
    width: 100%;
  }
  .menu a:before,
  .menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu a:before {
    top: 70%;
    bottom: 0;
    display: block;
    height: 4px;
    width: 0%;
    content: "";
    background-color: yellow;
  }
  .menu a:after {
    left: 0;
    top: 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
  }
  .menu a:hover:before,
  .menu .current a:before {
    top: 70%;
    opacity: 1;
    width: 75%;
  }
  .menu a:hover:after,
  .menu .current a:after {
    max-width: 100%;
  }
.principal{
    background-color: transparent;
   /* width:27%;*/
}
.pesquisar_menu{
    padding: 0%;
}

.titulos{
    color:white;

}

.pesquisar{
    background-color: rgb(255,255,0, .9);
    border-radius: 0%;
    border-color:#5d7b4f;
    color:black;
    width: 100%;

}
.nome_empresa{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.formulario{
    padding-top: 1%;
    margin:  0 auto;
    width: 100%;
    padding-bottom: 1%;

}
.searching{
    margin-top: 4%;
}
.pesquisas{
    width: fit-content;
    padding: 0%;
    margin: 0%;
}
.pesquisar_menu{
   width: fit-content;
   padding-bottom: 0% !important;
   margin: 0%;
}
#content_search1{
    width: 100%;
    
}
#searchcarros, #searchmotos,#searchjantes{
   /* border: 1px solid white;*/
    width: 17vh;
    text-align: center;
    margin-top:3%;
   
    
}
#a_carros, #a_motos, #a_jantes{
   padding: 8%;
   transition: all 0.7s linear 0s;
}

#a_carros:before, #a_motos:before, #a_jantes:before {
    content: "";
    position: absolute;
    right: -3px;
    top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent yellow transparent transparent;
    z-index: 1;
  }
.col_pesquisas{
    width: fit-content;

}
.nav_pesquisa{
    width: fit-content;
   
}
.container_pesquisa{
    width: fit-content;
    background-color: yellow;
}
.content-search{

    background-color: white;
    background:rgba(0, 0, 0, .7);
    width: 100%;
}

.bounceInRight, .bounceInLeft, .bounceInUp, .bounceInDown {
    opacity: 0;
    -webkit-transform: none !important;
    transform: none !important;
}

.col-sm-5{
    margin-left: 3vh;
}
#exampleSelect1{
    
    border-radius: 0;
}

#content_search3, #content_search2{
    display: none;
}

.activo {
   background-color: grey !important;
  
 
}


/*****SERVIÇOS******/
#servicos{
    background-image: url("../img/tracks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    
}

.Cservicos{
    background-color: transparent;
   /* width:27%;*/
}
.nossos_servicos{
    text-transform: uppercase;
  
    color: black;
    font-size:25px;
    margin-top:6%;
}
.imagens{
    margin-top: 1%;

}
.img{
    height: 37vh;
    width: 100%;
    object-fit: cover;
}
.coluna{
    padding: 0.5%;
}
.servico_info {
    background-color: black;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 10px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/*****PNEUS******/
#pneus{
    background-color: white;
    min-height: 100vh;
}

.nome_pneus{
    text-transform: uppercase;
    
    color: black;
    font-size:25px;
    margin-top:6%;
    text-align: center;
}

.linha{
    background-color: black;
    height: 2px;
    width: 6%;
    margin-left: 47%;
    margin-top: 0.4%;
}
.desc_pneus{
    
    font-size:12px;
    margin-top:2%;
    width: 50%;
    text-align: center;
    margin-left: 20%;
    
}

.retangulo{
    background-color: #f73030;
    color: black;
    padding: 2% 0;
    text-align: center;
    font-weight: 600;
    width:100%;
    border-top-right-radius: .15rem;
    border-top-left-radius: .15rem;
}
/*
#imagemPneus:before{
   content: "";
    position: absolute;
    right: -3px;
    top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 115px 115px 0;
    border-color: transparent #eaec42 transparent transparent;
    z-index: 1;
    transition: all 0.7s ease-out 0s;
}
*/

.contents-data{
    border-left: 1px solid rgba(0,0,0,.225);
    border-right: 1px solid rgba(0,0,0,.225);
    border-bottom: 1px solid rgba(0,0,0,.225);
    border-top: 1px solid rgba(0,0,0,.225);
    border-radius: .25rem;
    word-wrap: break-word;
}
.preco{
    position: absolute;
    color:black;
    top: 24px;
    right: 18px;
    z-index: 2;
    font-size: 30px;
  

    /* Safari */
    -webkit-transform: rotate(45deg);

    /* Firefox */
    -moz-transform: rotate(45deg);

    /* IE */
    -ms-transform: rotate(45deg);

    /* Opera */
    -o-transform: rotate(45deg);
}



/*****************************************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.pneus {
  
  color: black;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  max-height: 220px;
  min-height:220px;
  background:white;
  width: 100%;
  text-align: center;
}



figure.pneus * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.pneus img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.pneus figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4em 3em;
  width: 100%;
  height: 100%;
}
figure.pneus figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.pneus h2,
figure.pneus p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.pneus h2 {
  word-spacing: -0.15em;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.pneus p {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.pneus a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.pneus:hover img {
  opacity: 0.35;
}
figure.pneus:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.pneus:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.pneus:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/***********************************************************************/
.padding-0{
    width: fit-content;
    padding-left: 0%;
    padding-right: 0%;
}


.titulo{
  
    margin-top: 1%;
    margin-bottom: 0%;
}
.titulo, .subtitulo{
    margin-left: 4%;
    text-align: center;
}
.subtitulo{
    margin-bottom: 0%;
}

.botao_pneus{
    border-radius: 0;
    text-transform: uppercase;
    font-size:11px;
    border: 1px solid black;
}

.choose{
    margin: 0 auto;
    width: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
}
.botoes{
    border: 1px solid black;
    border-radius: 0%;
}

.example_div{
    margin: 0 auto;
    width: fit-content;
}
/*****JANTES*********/
.linha2{
    background-color: black;
    height: 2px;
    width: 6%;
    margin-left: 47%;
    margin-top: 0.4%;
    margin-bottom: 2%;
}
.linha-amarela{
    background-color: yellow;
    height: 2px;
    width: 6%;
    margin-left: 47%;
    margin-top: 0.4%;
    margin-bottom: 2%;
}
.nome_jantes{
    text-transform: uppercase;
    color: black;
    font-size:25px;
    margin-top:6%;
    text-align: center;
}
/*****CONTACTOS******/
#contactos{
    margin-top:20px;
    padding-top: 3%;
    background-color: rgb(169,169,169);
    padding-bottom: 80px;
}

#coluna2{
    padding: 0;
    background-image: url("../img/contactos.jpg");
    background-size: cover;
    height: 82vh;
}
#colunax{
    padding:3%;
}

.nome_contactos{
    text-transform: uppercase;
    
    color: black;
}
.tel_morada{
    margin-top: 4%;
    color:white;
    
    font-size: 15px;
}
.desc_contactos{
    margin-bottom: 3%;
    
    font-size:13px;
    color:#404040;
}
#name,#mail,#message{
    border-radius: 0;
    padding: 4%;
}
.botao_contact{
    border-radius: 0;
    background-color: yellow;;
    color:black;
    padding: 2% 5% 2% 5%;
    font-size:13px;
    text-transform: uppercase;
}

.botao_contact:hover{
    background-color: rgb(228, 228, 74);;
}
/*******/

h1 {
    padding-top:10%;
    color: navy;
    margin-left: 20px;
}

#centro{
    margin: 0 auto;
    width: fit-content;
}

.menu
{
    
    text-transform: uppercase;
    font-size: 13px;
   
}


.navbar-fixed-bottom, .navbar-fixed-top{
    position: inherit;
    margin: 0%
}

.icon{
    margin-top: 1.5%;
    width: auto;
}

.ajuda{
    display: inline-block;
    width: fit-content;
}

.help{
    
    font-size: 20px;
    color:yellow;
}
.n_tel{
    
    color:white;
    font-size: 15px;
}

.site_link{
    text-decoration: none;
    color:yellow;
}


/*********************PÁGINA DA DESCRIÇÃO DOS PENEUS******************************/
#descricao{
    background-image: url("../img/tracks3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.text_desc{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size:25px;
    padding: 3% 0;
}
.description{
   /* background-color:white; */
background:rgba(255, 255, 255, .6);
margin-top:2%;
padding-top: 2%;

}
.pneu_img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.pneu_img2{
    height: 10vh;
    width: 10vh;
    border: 1px solid grey;
}
.row_conteudo{
    margin-top: 4%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.desc_imagens{
    width: fit-content;
    float: left;
}

.col_images{
    margin-top: 2%;
}
.row_text{
    text-align: center;
    margin: 3% 0;

}
#home1{
    background-color:White;
    padding-top:3%;
}

.home_text{
    text-align: justify;
}

#home{
    padding-top:3%;
    height: 40vh;
    background-color: white;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 40vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.ative a{
    background-color: white !important;
    color: black !important;
    border: none !important;
}


.menus{
    margin: 0%;
    background-color: transparent ; 
    width: fit-content;
    height: 0%;
    border: none;
    padding: 0%;
}

#a_pneus{
    text-align: center;
    border: 1px solid grey;
}

#a_pneus2{
    border: 1px solid grey;
    border-left: none;
}

.letter {
    display: inline-block;  
    color: yellow;
}

.calendar-text {  color:white; }

.gaspump{
    color:#ffbf00;
}

.square{
    color:white;
    font-size: 9px;
}

th, td{
    text-align: center;
}

.table_head{
    background-color: grey;
    color:#ffea00;
}

.bookmark{
    color:green;
}











/**
 * Panels
 */
.panel {
    background: transparent !important;
    border: none;
}

.panel-heading {
    padding: 0;
    border: none;
}

.panel-body {
    background: #fff;
}

.panel-heading h4 {
    background: #F3821E;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    z-index: 11;
}

.panel-heading h4:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -25px;
    top: 0px;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 37px solid #F3821E;
}

.panel-heading.panel-heading-sm h4{
    font-size: 13px;
}
.panel-heading.panel-heading-sm h4:before {
    border-bottom-width: 33px !important;
}

.panel.panel-gray .panel-body{
    background: #EFF0F0;
}




.panel.panel-gray .panel-heading h4:first-child{
    background: #58595B;
}
.panel.panel-gray .panel-heading h4:first-child:before {
    border-bottom-color: #58595B;
}

.panel.panel-gray .panel-heading h4{
    background: #999;
}

.panel.panel-gray .panel-heading h4:before{
    border-bottom: 37px solid #58595B;
}


/**
 * Quote panels
 */
.free-quote {
    position: relative;
    z-index: 1000;
    margin-top: 150px;
}

.free-quote .nav-tabs {
    margin-top: 0; 
}

.free-quote .nav-tabs > li{
    margin-bottom: 0; 
}

.free-quote .form-control {
    height: 34px;
}

.free-quote .panel-heading h4{
    font-size: 18px;
}

.free-quote .panel-heading h4:before {
    border-bottom: 39px solid #F3821E;
}

.free-quote .panel-body {
    font-size: 13px;
    padding: 5px 15px 15px 15px;
    background: rgba(0, 0, 0, .7);
}

.select2-results__options{
    font-size: 12px !important;
}

.free-quote label,
.free-quote .form-group,
.free-quote ul{
    margin-bottom: 0;
}

.nav-tabs-custom {
    border: none;
}

.nav-tabs-custom > li > a, 
.nav-tabs-custom > li > a:hover,
.nav-tabs-custom > li > a:focus,
.nav-tabs-custom > li.active > a, 
.nav-tabs-custom > li.active > a:hover,
.nav-tabs-custom > li.active > a:focus {
    background-color: #999;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    height: 37px;
    color: #fff;
    cursor: default;
    padding: 8px 14px;
    border: none;
    border-radius: 0;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
}

.nav-tabs-custom li a:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -25px;
    top: 0px;
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 37px solid #999;
    z-index: 1;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
}

.nav-tabs-custom li:nth-child(n+2) a,
.nav-tabs-custom li.active:nth-child(n+2) a{
    padding-left: 35px;
    margin-left: -2px;
}

.nav-tabs-custom > li > a:hover{
    background-color: #888;
}

.nav-tabs-custom > li > a:hover:before {
    border-bottom-color: #888;
}

.nav-tabs-custom > li.active > a, 
.nav-tabs-custom > li.active > a:hover,
.nav-tabs-custom > li.active > a:focus{
    color: #fff;
    border: none;
    background-color: #58595B;
}

.nav-tabs-custom > li.active > a:before {
    border-bottom-color: #58595B;
}


.nav-tabs-custom.nav-tabs-orange > li > a, 
.nav-tabs-custom.nav-tabs-orange > li > a:hover,
.nav-tabs-custom.nav-tabs-orange > li > a:focus,
.nav-tabs-custom.nav-tabs-orange > li.active > a, 
.nav-tabs-custom.nav-tabs-orange > li.active > a:hover,
.nav-tabs-custom.nav-tabs-orange > li.active > a:focus {
    background-color: #7c7c7c;
}

.nav-tabs-custom.nav-tabs-orange li a:before {
    border-bottom-color: #7c7c7c;
}

.nav-tabs-custom.nav-tabs-orange > li > a:hover{
    background-color: #464141;
}

.nav-tabs-custom.nav-tabs-orange > li > a:hover:before {
    border-bottom-color: #464141;
}

.nav-tabs-custom.nav-tabs-orange > li.active > a, 
.nav-tabs-custom.nav-tabs-orange > li.active > a:hover,
.nav-tabs-custom.nav-tabs-orange > li.active > a:focus{
    background-color: #272727;
}

.nav-tabs-custom.nav-tabs-orange > li.active > a:before {
    border-bottom-color: #272727;
}

.panel-view-more{
    max-height: 250px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.panel-view-more:before{
    content: "";
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 110px;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+97 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.panel-view-more.active{
    max-height: 9999px;
    overflow: hidden;
}

.panel-view-more.active:before{
    opacity: 0;
}


@media screen and (max-width: 1024px){
    #paginainicial{
        height: 50vh;
    }

    .icon {
        margin-top: 2%;
    }

    #servicos{
        min-height: 90vh;
    }
    #pneus{
        min-height: 60vh;
    }
}

@media screen and (max-width: 768px){
    #paginainicial{
        height: 50vh;
    }

    .icon {
        margin-top: 3%;
    }

    #servicos{
        min-height: 90vh;
    }
    #pneus{
        min-height: 60vh;
    }
    
    footer .main-footer {
        text-align: center;
    }
}

@media screen and (max-width: 450px){
   .logo{
       display:block;
       margin:0 auto;
   }

   .icon{
       float: none !important;
       text-align: center;
   }

   .free-quote{
       margin-top: 0px;
   }
}


.bookmark-A { color: #008828 !important}
.bookmark-B { color: #019026 !important}
.bookmark-C { color: #adc900 !important}
.bookmark-D { color: #fde900 !important}
.bookmark-E { color: #fba105 !important}
.bookmark-F { color: #e84d0d !important}
.bookmark-G { color: #e42512 !important}

.spacing-10{ margin-top: 10px !important}
.spacing-20{ margin-top: 20px !important}
.spacing-30{ margin-top: 30px !important}
.spacing-40{ margin-top: 40px !important}
.spacing-50{ margin-top: 50px !important}